*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
scroll-behavior:smooth;
}

body{
background:#050816;
color:white;
overflow-x:hidden;
}

/* Navigation */

nav{
position:fixed;
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
background:rgba(0,0,0,.75);
backdrop-filter:blur(12px);
z-index:1000;
}

.logo{
color:#00e5ff;
font-size:32px;
font-weight:700;
}

nav ul{
display:flex;
list-style:none;
}

nav ul li{
margin-left:35px;
}

nav ul li a{
text-decoration:none;
color:white;
font-weight:500;
transition:.3s;
}

nav ul li a:hover{
color:#00e5ff;
}

/* Hero */

.hero{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
background:
radial-gradient(circle at top,#0b1f3a 0%,#050816 65%);
}

.hero-content{
max-width:900px;
}

.hero h3{
font-size:28px;
color:#8ecae6;
}

.hero h1{
font-size:72px;
margin:10px 0;
color:#ffffff;
}

.hero h2{
font-size:34px;
color:#00e5ff;
height:45px;
margin-bottom:25px;
}

.hero p{
font-size:20px;
line-height:1.8;
color:#cfd8dc;
max-width:750px;
margin:auto;
}

/* Buttons */

.buttons{
margin-top:40px;
}

.btn,
.btn2{

display:inline-block;

padding:15px 38px;

margin:10px;

border-radius:40px;

text-decoration:none;

font-weight:600;

transition:.35s;

}

.btn{

background:#00e5ff;

color:#111;

}

.btn:hover{

transform:translateY(-5px);

box-shadow:0 0 30px #00e5ff;

}

.btn2{

border:2px solid #00e5ff;

color:#00e5ff;

}

.btn2:hover{

background:#00e5ff;

color:#111;

}

/* Sections */

section{

padding:110px 10%;

}

section h2{

font-size:42px;

margin-bottom:25px;

color:#00e5ff;

}

section p{

font-size:18px;

line-height:1.8;

color:#d5d5d5;

}

/* Responsive */

@media(max-width:768px){

nav{

flex-direction:column;

padding:20px;

}

nav ul{

margin-top:15px;

flex-wrap:wrap;

justify-content:center;

}

nav ul li{

margin:10px;

}

.hero h1{

font-size:48px;

}

.hero h2{

font-size:26px;

}

.hero p{

font-size:17px;

}

}
